.actionButton {
  background-color: #f53240;
  border: none;
  width: 140px;
  height: 35px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.actionButton:hover,
.startButton:hover,
.formButton:hover {
  cursor: pointer;
}

.startButton {
  display: block;
  margin: 0 auto;
}

.formButton {
  background-color: #f53240;
  border: none;
  width: 90px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}
