.actionButton {
  background-color: #f53240;
  border: none;
  width: 140px;
  height: 35px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.formButton {
  background-color: #f53240;
  border: none;
  width: 90px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.startLandingPage,
.startDemoPage {
  width: 175px;
  height: 45px;
  font-size: .85em;
}

.startDemoPage {
  border-radius: 0;
}

.actionButton:hover,
.formButton:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.5);
}
