.allContent {
  /* width: 40%; */
  margin: 0 auto;
  margin-top: 25vh;
}

.logo {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.header {
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
}

.buttonLink {
  text-decoration: none;
}


footer {
  background-color: #108776;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  color: #002c3a;
  text-align: center;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .allContent {
    width: 80%;
  }
}

@media only screen and (min-width: 601px) {
  .allContent {
    width: 40%;
  }

}
