.landing,
.allContent,
.demoPage {
  position: relative;
}

.landingContent {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingLeftCloud,
.landingRightCloud,
.demoLeftCloud,
.demoRightCloud {
  position: absolute;
  width: 200px;
  height: 100px;
}

.landingLeftCloud {
  top: 5%;
  left: 0;
}

.landingRightCloud,
.demoRightCloud {
  bottom: 5%;
  right: 0;
}

.demoLeftCloud {
  top: -5%;
  left: 0;
}

.logo {
  width: 60px;
}

.header {
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
}

.buttonLink {
  text-decoration: none;
}

.featurePage {
  height: 100vh;
}

.leftCloudBackground,
.rightCloudBackground {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.h2 {
  color: #108776;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.h3,
.h4 {
  color: white;
  font-weight: 900;
}

.h3 {
  font-size: 2em;
  margin: 0;
}

.h4 {
  font-size: 1.5em;
  margin: 0;
}

.demoPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demoHeader,
.demoAccount {
  text-align: center;
  margin-bottom: 5vh;
}

.demoAccount {
  margin-bottom: 7vh;
}

.demoLabel {
  color: #108776;
  font-weight: 700;
  margin-bottom: 0;
}

.demoValue {
  box-sizing: border-box;
  font-weight: 700;
  background-color: white;
  border-radius: 20px;
  height: 40px;
  padding: 8px 15px;
  margin-top: 5px;
}

.footer {
  background-color: #108776;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  color: #002c3a;
  text-align: center;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .landingContent {
    width: 80%;
  }

  .leftCloudBackground,
  .rightCloudBackground {
    flex-direction: column;
  }

  .mobileFeatureImgBkgrd {
    background-color: white;
    height: 45vh;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .feedback,
  .algo {
    width: 70%;
  }

  .h2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
  }

  .demoHeader {
    margin-top: -20vw;
    width: 90vw;
  }

  .demoAccount {
    width: 60vw;
  }
}

@media only screen and (min-width: 601px) {
  .landing,
  .featurePage {
    height: 80vh;
  }

  .landingContent {
    width: 40%;
  }

  .leftCloud,
  .rightCloud {
    width: 300px;
    height: 150px;
  }

  .leftCloudBackground,
  .rightCloudBackground {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rightCloudBackground {
    flex-direction: row-reverse;
  }

  .leftCloudBackground {
    background: no-repeat left/55% url('../../images/leftBigCloud.svg');
    padding: 0 5vw;
  }

  /* .feedback,
  .algo, */
  .h2 {
    width: 40vw;
    max-width: 400px;
  }

  .feedback,
  .algo {
    width: 30vw;
    max-width: 300px;
  }

  .feedback {
    margin-right: 25vw;
  }

  .rightCloudBackground {
    background: no-repeat right/55% url('../../images/rightBigCloud.svg');
    padding: 0 5vw;
  }

  .algo {
    margin-left: 25vw;
  }

  .demoHeader {
    width: 60vw;
  }

  .demoAccount {
    width: 40vw;
  }

  .demoValue {
    max-width: 400px;
    margin: 0 auto;
  }

  .demoLeftCloud {
    top: 0;
  }
}

@media only screen and (min-width: 800px) {
  .landing,
  .featurePage {
    height: 100vh;
  }
}

@media only screen and (min-width: 1200px) {
  .feedback,
  .algo {
    max-width: 400px;
  }

  .feedback {
    margin-right: 27vw;
  }

  .algo {
    margin-left: 27vw;
  }

  .h2,
  .h3 {
    font-size: 2.5em;
  }

  .h4 {
    font-size: 2em;
  }

  .demoLabel {
    font-size: 1.25em;
  }

}
